@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

body {
    /* background-color: #252525; */
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
}

.names {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.tooltipClass {
    /* background-color: rgba(93, 93, 93, 0.3); */
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
    font-family: Arial, sans-serif;
    z-index: 1000;
}


h1 {
    padding-top: 4%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 12%;
    margin-left: 12%;

}

p {
    padding: 1rem;
}

h2 {
    padding-top: 2%;
    color: rgb(255, 255, 255);
    font-size: 38px;
    text-align: center;
    padding-bottom: 0.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 0;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    color: orange;
    padding-bottom: 2%;
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
}

.subhead {
    color: rgb(255, 255, 255);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    text-align: center;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    font-style: italic;
    line-height: 2rem;
}

.smallTopMargin {
    margin-top: 0;
}

.mapText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    fill: white;
    font-size: 14px;
}

.float {
    position: relative;
}

.legendText {
    font-size: 18px;
    fill: white;
    font-family: 'Montserrat', sans-serif;
}

.bodyText {
    padding-left: 28%;
    padding-right: 28%;
    font-family: 'Verdana', sans-serif;
    line-height: 1.8rem;
    font-size: 15px;
}

.stepText {
    font-family: 'Verdana', sans-serif;
    line-height: 1.8rem;
    font-size: 15px;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.intro2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    line-height: 1.5rem;
    color: rgb(177, 177, 177);
    margin: 0;
    padding: 0;
}

.intro {
    animation-name: intro;
    animation-duration: 3s;
    font-family: serif;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    line-height: 1.8rem;
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(108, 108, 108);
    margin: 0;
}
p.intro {
    padding-bottom: 0;
}

@keyframes intro {
    from {
        color: rgb(0, 0, 0);
    }

    to {
        color: rgb(108, 108, 108);
    }
}

.scrollDiv {
    height: 30px;
}

.scrollIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 27px;
    opacity: 0;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        height: 27px;
    }

    25% {
        opacity: 0.2;
        height: 27.5px;
    }

    50% {
        opacity: 0.4;
        height: 28px;
    }

    75% {
        opacity: 0.6;
        height: 29px;
    }

    100% {
        opacity: 0.8;
        height: 30px;
    }
}

/* Scrollytelling */

/* .sticky-container {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sticky-content {
    position: relative;
    display: flex;
    flex: 1 0 30%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} */

.sticky-container {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .sticky-content {
    line-height: 1.8;
    position: relative;
    display: flex;
    flex: 1 0 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
  }
  
.sticky-graphic {
    margin: 0;
    /* z-index: -1; */
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 100vh; 
    flex: 1 0 80%;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* #scrolly-overlay .scrolly {
    margin: 3rem auto;
    padding: 1rem;
} */

.sticky {
    position: sticky;
    width: 100%;
    margin: 0;
    top: 2vh;
    left: 0;
}

/* .step {
    line-height: 2rem;
    margin-bottom: 80%;
    background-color: rgba(36, 35, 35, 0.7);
    color: white;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
} */

.step {
    height: 90vh;
}

.orangeText {
    color: orange !important;
}

.dropdown-container {
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#yearMenu {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 4px;
}

#year-dropdown {
    margin: 1%;
}

.container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

#tipDiv {
    fill: white;
    padding-top: 4vh;
    margin: 0;
    font-family: 'Verdana', sans-serif;
    line-height: 1.6rem;
    font-size: 14px;
    padding-left: 0px;
}

#case-summary {
    height: 100vh;
}

.fa-angle-down {
    text-align: center;
    font-size: 1.5em;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: fa-angle-down;
    animation-timing-function: ease;
}

@keyframes fa-angle-down {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(15px);
    }
}

.icon {
    text-align: center;
}

.firstGraf {
    margin-top: 100vh;
}