body {
    text-align: center;   
    margin-right: 30%;
}

h1 {
    color: rgb(0, 119, 255);
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: -4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footnote {
    padding-top: 2%; 
    font-family: "Roboto", sans-serif;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2rem;
    font-size: 15px;
    font-style: italic;
}

.buttoncontainer { 
    padding-top: 2%;
    padding-bottom: 2%; 
}


.button:hover {
    background-color: #a09d9d;
    color: white;
}

.minus {
    margin-top: -5%;
}

.plus {
    padding-top: 8%;
}


