body {
    text-align: center;   
    margin-right: 30%;
}

h1 {
    color: rgb(0, 119, 255);
    font-size: 25px;
    text-align: center;
    padding-top: -4%;  
    padding-bottom: -4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



